body {
  background-color: rgb(223, 195, 161);
}
div {
  margin-top: 25px;
  padding: 5px;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
}
.up {
  background-color: rgb(87, 136, 179);
}
.down {
  background-color: rgb(119, 68, 85);
}
h2,
h3 {
  color: white;
}
